img {
    max-width: 250px;
    max-height: 250px;
    padding: 10px;
    border-radius: 25px;
}

h1 {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    color: crimson;
}
.user-card {
    border: 2px dashed crimson;
    max-width: 900px;
}
.card-content {
    background: crimson;
    margin: 20px;
}

.following-div {
    border: 1px solid red;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.following-card {
    border: 1px solid black;
    max-width: 900px;
}
.follower-content {
    background: orange;
    margin: 20px;
}